- if @form.errors.any?
  = turbo_stream.replace dom_id(@form.model) do
    = render partial: "form_edit", locals: { tweet: @tweet, form: @form }
- else
  = turbo_stream.replace dom_id(@form.model) do
    = render partial: "replies/reply", locals: { reply: @form.model.decorate }


