h2.lh-base style= "height: fit-content" Sign up
section.w-50
  = form_for(@form, as: resource_name,
    url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: @form

    .form-group
      = f.label :display_name
      = f.text_field :display_name, autofocus: true, class: "form-control"

    .form-group
      = f.label :username
      = f.text_field :username, required: true, minlength: 3,
        class: "form-control"

    .form-group
      = f.label :password
      - if @minimum_password_length
        p (#{@minimum_password_length} characters minimum)
      br
      = f.password_field :password, required: true,
        minlength: @minimum_password_length, class: "form-control"

    .form-group
      = f.label :password_confirmation
      br
      = f.password_field :password_confirmation, required: true,
        minlength: @minimum_password_length, class: "form-control"

    .actions.pt-2.pb-2
      = f.submit "Sign up"

  = render "devise/shared/links"
