- if @form.model.persisted?
  = turbo_stream.prepend "tweets" do
    = render partial: "tweet", locals: { tweet: @form.model }

  = turbo_stream.replace "tweet-form" do
    = render partial: "form", locals: { form: @form }
- else
  = turbo_stream.replace "tweet-form" do
    = render partial: "form", locals: { form: @form }


