<!-- app/views/tweets/index.html.erb -->
<h1>Tweets</h1>

<div style="margin-bottom: 1rem;">
  <%= render partial: "form", locals: { form: @form } %>
</div>

<section id="tweets" class="w-50">
  <%= render @tweets %>
</section>

<p style="margin-top:1rem;">
  <%= button_to "Home", root_path, method: :get, class: "btn btn-primary" %>
</p>
